services:
  mongodb:
    container_name: mongodb
    image: mongo:8.0.15-noble
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: SiuAcount123**
      MONGO_INITDB_DATABASE: accountdb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mongo-network
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 10s
      timeout: 5s
      retries: 5

  account:
    container_name: account
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8069:8069"
    networks:
      - mongo-network
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://admin:SiuAcount123**@mongodb:27017/accountdb?authSource=admin
    depends_on:
      mongodb:
        condition: service_healthy

volumes:
  mongo-data:

networks:
  mongo-network:
    driver: bridge